{% load static from staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static "app/css/styles.css" %}">
    <script src="{% static "bower_components/angular/angular.js" %}" type="text/javascript"></script>
    <script src="{% static "bower_components/angular-messages/angular-messages.js" %}" type="text/javascript"></script>
    <script src="{% static "bower_components/ngstorage/ngStorage.js" %}" type="text/javascript"></script>
    <script src="{% static "djangular/js/django-angular.min.js" %}" type="text/javascript"></script>
    <script src="{% static "app/js/app.js" %}" type="text/javascript"></script>
    <script src="{% static "app/js/services/productsRequestService.js" %}" type="text/javascript"></script>
    <script src="{% static "app/js/services/shoppingCartService.js" %}" type="text/javascript"></script>
    <script src="{% static "app/js/controllers/shoppingCartController.js" %}" type="text/javascript"></script>
    <script src="{% static "app/js/controllers/productsListController.js" %}" type="text/javascript"></script>
	<title>{% block title %}{% endblock %}</title>
</head>
<body ng-app="dreedistoreApp">
    <div ng-controller="shoppingCartController">
        <h2>Carrito de compras</h2>
        <h3>Productos</h3>
        <article ng-repeat="product in shoppingCart.products">
            <h4 ng-bind="product.name + ' ' + product.net_content + product.measurement_unit"></h4>
            <p><span>Precio: </span>{$product.sale_price | currency : "MX$" $}</p>
            <p><span>Cantidad: </span>{$product.items_to_buy$}</p>
        </article>
        <h3>Total: </h3>
        <p>{$shoppingCart.total | currency : "MX$" $}</p>

        <button type="button" ng-click="clearCart()">Limpiar carrito</button>
    </div>
	{% block content %}{% endblock %}
</body>
</html>