{% extends 'base_view.html' %}
{% block title %}Crear Producto{% endblock %}
{% block content %}
<form action="" method="post" id="id_{{form.form_name}}" name="{{form.form_name}}" novalidate>
		{% csrf_token %}
		{{form.as_p}}
		<button type="submit">Enviar</button>
	</form>
{% endblock %}