<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Busqueda de Proveedores</title>
</head>
<body>
	<h2>Buscar Proveedores</h2>
	<section>
		<form action="." method='post'>
			{% csrf_token %}
			{{form.as_p}}
			<button type="submit">Buscar</button>
		</form>
	</section>
	<h2>Lista de Proveedores</h2>
	<section>
		{% for provider in providers %}
			<h2>{{provider.name}}</h2>
			<p><span>Codigo: </span>{{provider.code}}</p>
			<p><span>Conatacto: </span>{{provider.contact}}</p>
			<p><span>Telefono 1: </span>{{provider.phone_1}}</p>
			<p><span>Telefono 2: </span>{{provider.phone_2}}</p>
			<p><span>Pagina Web: </span><a href="{{provider.web_page}}" target='_blank'>Link</a></p>
			<p><span>Email: </span>{{provider.email}}</p>
			<p><span>Fecha de Registro: </span>{{provider.registration_date}}</p>
		{% endfor %}
	</section>
</body>
</html>