{% extends 'base_view.html' %}
{% block title %}Busqueda de Productos{% endblock %}
{% block content %}
	<h2>Buscar Productos</h2>
	<section>
		<form action="." method='post'>
			{% csrf_token %}
			{{form.as_p}}
			<button type="submit">Buscar</button>
		</form>
	</section>
	<section ng-controller="productsListController">
		<h2>Lista de productos</h2>
		<article ng-repeat="product in products">
			<h3 ng-bind="product.name + ' ' + product.net_content + product.measurement_unit"></h3>
			<p><span>Provedor: </span>{$product.provider$}</p>
			<p><span>Precio: </span>{$product.sale_price | currency : "MX$" $}</p>
			<button type="button" ng-click="addToCart($index)">Agregar al carrito</button>
			<button type="button" ng-click="removeFromCart($index)">Eliminar del carrito</button>
		</article>
	</section>
{% endblock %}